
@model List<WebApplication1.ViewModels.Slides.GetSlideVM>
@{
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slides</h4>
                <p class="card-description">
                    Add class <code>.table-striped</code>
                </p>
                <div class="table-responsive">
                
                    <a class="btn btn-success" asp-action="Create">Create slideVM</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Order
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (WebApplication1.ViewModels.Slides.GetSlideVM slideVM in Model)
                            {
                                count++;
                                <tr>
                                    <td class="py-1">
                                        @count
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images/@slideVM.Image" />
                                    </td>
                                    <td>
                                        @slideVM.Title
                                    </td>
                                    <td>
                                        @slideVM.Order
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-action="Delete" asp-route-id="@slideVM.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                        <a asp-area="Admin" asp-action="Update" asp-route-id="@slideVM.Id" class="btn btn-warning"><i class="mdi mdi-pencil"></i></a>
                                        <a asp-area="Admin" asp-action="Details" asp-route-id="@slideVM.Id" class="btn btn-primary"><i class="mdi mdi-open-in-new"></i></a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>